In [2]:
# Dependencies
import os
import numpy as np
import requests
import json
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

In [3]:
#load 2019 june yellowcab trip data
data = pd.read_csv('yellow_tripdata_2019-06.csv')
tripdata=pd.DataFrame(data)

In [5]:
tripdata.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-06-01 00:55:13,2019-06-01 00:56:17,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
1,1,2019-06-01 00:06:31,2019-06-01 00:06:52,1,0.0,1,N,262,263,2,2.5,3.0,0.5,0.00,0.0,0.3,6.30,2.5
2,1,2019-06-01 00:17:05,2019-06-01 00:36:38,1,4.4,1,N,74,7,2,17.5,0.5,0.5,0.00,0.0,0.3,18.80,0.0
3,1,2019-06-01 00:59:02,2019-06-01 00:59:12,0,0.8,1,N,145,145,2,2.5,1.0,0.5,0.00,0.0,0.3,4.30,0.0
4,1,2019-06-01 00:03:25,2019-06-01 00:15:42,1,1.7,1,N,113,148,1,9.5,3.0,0.5,2.65,0.0,0.3,15.95,2.5

In [6]:
filterdata=tripdata[(pd.to_datetime(tripdata["tpep_pickup_datetime"])>"2019-06-22")&(pd.to_datetime(tripdata["tpep_pickup_datetime"])<"2019-07-01")]
filterdata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
599520,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,13.0,1.0,0.5,3.46,0.00,0.3,20.76,2.5
599521,2,2019-06-24 10:58:03,2019-06-24 11:08:39,1,1.63,1,N,230,142,1,8.5,1.0,0.5,1.50,0.00,0.3,14.30,2.5
599522,2,2019-06-24 11:14:35,2019-06-24 11:18:08,1,0.80,1,N,239,238,2,4.5,1.0,0.5,0.00,0.00,0.3,8.80,2.5
692228,2,2019-06-24 22:25:00,2019-06-24 22:40:32,6,8.53,1,N,237,138,1,25.0,0.5,0.5,6.98,6.12,0.3,41.90,2.5
694129,2,2019-06-24 22:59:13,2019-06-25 06:22:59,6,19.07,2,N,141,132,1,52.0,0.0,0.5,12.28,6.12,0.3,73.70,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6941019,1,2019-06-30 23:23:03,2019-06-30 23:39:48,1,0.90,1,N,68,158,1,11.0,3.0,0.5,2.00,0.00,0.3,16.80,2.5
6941020,1,2019-06-30 23:50:22,2019-06-30 23:57:01,1,0.50,1,N,246,90,2,6.0,3.0,0.5,0.00,0.00,0.3,9.80,2.5
6941021,1,2019-06-30 23:58:32,2019-07-01 00:00:42,1,0.20,1,N,90,186,1,3.5,3.0,0.5,1.45,0.00,0.3,8.75,2.5
6941022,2,2019-06-30 23:23:10,2019-06-30 23:30:45,1,1.38,1,N,140,163,1,7.5,0.5,0.5,2.26,0.00,0.3,13.56,2.5
6941023,2,2019-06-30 23:39:13,2019-06-30 23:44:56,2,1.77,1,N,142,151,1,7.0,0.5,0.5,1.00,0.00,0.3,11.80,2.5

In [7]:
# URL for GET requests to retrieve taxi zone matching data
with open('taxi_zones.json') as f:
    data = json.load(f)
zonedata=json.dumps(data)

In [8]:
data.keys()

dict_keys(['meta', 'data'])

In [9]:
zonedata={}
for zone in data["data"]:
    locid=int(zone[8])
    long,lati=zone[10].split(",")[1].split()
    lon=float(long)
    lat=float(lati)
    zonedata[locid]=(locid,lon,lat)
zonedata

{1: (1, -74.18448899999999, 40.69509499999987),
 2: (2, -73.82277105438692, 40.63557691408512),
 3: (3, -73.84725144800001, 40.870987051999926),
 4: (4, -73.97179142961485, 40.72581422114911),
 5: (5, -74.17348507999998, 40.56226748999995),
 6: (6, -74.06350565699998, 40.60215005399992),
 7: (7, -73.90325211599989, 40.767504322999905),
 8: (8, -73.92398142899997, 40.774615111999886),
 9: (9, -73.78486059299999, 40.76064436299992),
 24: (24, -73.96004456499999, 40.79804123499991),
 10: (10, -73.78234452799988, 40.68840743699995),
 11: (11, -74.00032353799993, 40.60262029199992),
 12: (12, -74.01539758699995, 40.704800148999894),
 13: (13, -74.01281566799992, 40.71735629799987),
 18: (18, -73.88593703500003, 40.86592439799995),
 25: (25, -73.98101786899988, 40.68893792699991),
 14: (14, -74.03284292006926, 40.64356371017527),
 15: (15, -73.77738937457792, 40.79659450183192),
 22: (22, -73.99009356099988, 40.62278895299992),
 23: (23, -74.19557688057968, 40.63500421857057),
 16: (16, -73.76833788999983, 40.7786825249999),
 17: (17, -73.94220058700002, 40.70089066699992),
 19: (19, -73.72258571899978, 40.74885045099993),
 20: (20, -73.88379386499992, 40.86417182299991),
 21: (21, -73.97403097799986, 40.608702309999906),
 26: (26, -73.98299419199992, 40.64132499699987),
 27: (27, -73.86454176099993, 40.56924292199992),
 28: (28, -73.7926872159999, 40.71568003299994),
 33: (33, -73.99513826820316, 40.702974114861405),
 29: (29, -73.95900739999992, 40.58283812799991),
 31: (31, -73.87094413599989, 40.857265988999906),
 32: (32, -73.8617906939999, 40.857982903999925),
 30: (30, -73.81768666599999, 40.614932997999844),
 34: (34, -73.97066975742996, 40.70725970882148),
 35: (35, -73.90066118699986, 40.66058615799992),
 36: (36, -73.91180710099985, 40.70343495199994),
 37: (37, -73.93301076599988, 40.70427708599989),
 38: (38, -73.73430403699984, 40.702478130999936),
 39: (39, -73.89056792961276, 40.64920863296716),
 40: (40, -73.9962084629999, 40.681723424999916),
 41: (41, -73.94506102999992, 40.808474499999875),
 45: (45, -73.99744448599988, 40.71406687299986),
 46: (46, -73.7844902538973, 40.86041295004045),
 42: (42, -73.93445239398683, 40.83598096007491),
 43: (43, -73.97301487199995, 40.76427887899991),
 44: (44, -74.213501756, 40.55566761799985),
 47: (47, -73.89216687399981, 40.85276946199989),
 48: (48, -73.99163271299996, 40.75470680499996),
 49: (49, -73.96015854699986, 40.694117308999914),
 50: (50, -73.99434191991617, 40.772524781943375),
 51: (51, -73.81940759199995, 40.867999270999874),
 52: (52, -73.9962084629999, 40.681723424999916),
 53: (53, -73.83919004727183, 40.79777726644771),
 54: (54, -74.00400795971088, 40.69320819963236),
 55: (55, -73.98627573699999, 40.58447998099991),
 56: (56, -73.853254932, 40.74682354999988),
 57: (57, -73.85442575299999, 40.748851725999884),
 58: (58, -73.81568607715445, 40.84816530989142),
 59: (59, -73.88869040799986, 40.83915802599989),
 60: (60, -73.87791380399995, 40.8399703279999),
 61: (61, -73.92900883999985, 40.68270290499991),
 62: (62, -73.9294035289999, 40.664199845999846),
 63: (63, -73.86631496899999, 40.683248942999924),
 64: (64, -73.74153532911313, 40.77711063108628),
 65: (65, -73.98705765100006, 40.70063138099993),
 72: (72, -73.92008167099986, 40.659857632999866),
 66: (66, -73.97924508744678, 40.70554838913701),
 67: (67, -74.01000340799995, 40.63011308899991),
 68: (68, -74.00252381399994, 40.739752643999886),
 73: (73, -73.79644617199999, 40.749859216999916),
 69: (69, -73.91130974499993, 40.824848557999914),
 70: (70, -73.8589662809999, 40.761158795999904),
 71: (71, -73.93160868699992, 40.65374163899989),
 79: (79, -73.9838238729998, 40.72147287199987),
 80: (80, -73.93168317826739, 40.72803172609697),
 74: (74, -73.93382900884613, 40.81558536018751),
 85: (85, -73.94703257599998, 40.6543387139999),
 86: (86, -73.76663280474156, 40.614188090292245),
 75: (75, -73.93864883299987, 40.79155775499987),
 76: (76, -73.88061377799993, 40.67911003199989),
 77: (77, -73.89930675399987, 40.67398204199993),
 78: (78, -73.88993961599995, 40.852590762999924),
 81: (81, -73.82267708790054, 40.88961946903566),
 87: (87, -74.00360537999994, 40.70678059299992),
 82: (82, -73.86749135099993, 40.74330204699994),
 83: (83, -73.89071647499993, 40.74312778399993),
 84: (84, -74.15988277075512, 40.52736935827443),
 88: (88, -74.00945463899993, 40.70452785699992),
 89: (89, -73.9536000469999, 40.63842234699991),
 90: (90, -73.99683993899998, 40.73736088899995),
 125: (125, -74.00214891499996, 40.728035366999904),
 91: (91, -73.91941447399985, 40.63977466499991),
 92: (92, -73.82655841999986, 40.77013708399991),
 93: (93, -73.8566748236235, 40.76393018832615),
 94: (94, -73.89943670799998, 40.86211691199987),
 95: (95, -73.84721361599989, 40.73864398699987),
 96: (96, -73.83773266099998, 40.708215356999915),
 97: (97, -73.96880989600005, 40.69312038199996),
 98: (98, -73.76268297099983, 40.73725583599988),
 99: (99, -74.16895369199989, 40.583098363999916),
 100: (100, -73.98776905899994, 40.749787028999926),
 101: (101, -73.70117316524451, 40.74892430181052),
 102: (102, -73.85593991699984, 40.7063980339999),
 103: (103, -74.04350596056258, 40.689687359818144),
 104: (104, -74.03945262906649, 40.70053315991193),
 105: (105, -74.01540359141636, 40.69306649730916),
 106: (106, -73.98413878099997, 40.680245370999934),
 107: (107, -73.98255629299985, 40.7313501339999),
 108: (108, -73.97132951099988, 40.59635243099994),
 109: (109, -74.14699254699993, 40.570504754999874),
 110: (110, -74.11656290099995, 40.54912774199988),
 111: (111, -73.99296401999992, 40.65833740999993),
 112: (112, -73.95428317027596, 40.73910737037338),
 113: (113, -73.99154832699986, 40.72708947099994),
 114: (114, -73.99260322299988, 40.724136449999946),
 115: (115, -74.08076183699995, 40.62745285899992),
 116: (116, -73.93968952899993, 40.827656573999896),
 117: (117, -73.7762653832992, 40.60964903889425),
 118: (118, -74.10778645199997, 40.61023505699993),
 119: (119, -73.92387743499995, 40.84474050799987),
 120: (120, -73.92282845999992, 40.856851408999916),
 149: (149, -73.94380031999991, 40.610719118999924),
 150: (150, -73.9300961629999, 40.584502075999886),
 121: (121, -73.79822058899992, 40.7381746309999),
 122: (122, -73.75588877999999, 40.716298643999885),
 123: (123, -73.96237947799978, 40.609986373999966),
 124: (124, -73.84847765299996, 40.67091673899989),
 126: (126, -73.88635032500001, 40.82601262299995),
 127: (127, -73.91119073224566, 40.87298467599477),
 128: (128, -73.9236171919141, 40.87885275853596),
 129: (129, -73.875535095, 40.76423051299992),
 134: (134, -73.82252678099998, 40.71165488499987),
 151: (151, -73.96417598599989, 40.792362044999884),
 130: (130, -73.7700680079999, 40.711353867999904),
 139: (139, -73.7375999409999, 40.68636201199989),
 131: (131, -73.77727808000003, 40.72234633599988),
 132: (132, -73.82486060999993, 40.66357678999988),
 133: (133, -73.97777380600002, 40.64534187699998),
 140: (140, -73.95877790811335, 40.75827092092435),
 135: (135, -73.8313011729999, 40.73956106299991),
 136: (136, -73.89942436199988, 40.86788083799993),
 137: (137, -73.97221685422322, 40.74030762506154),
 141: (141, -73.96196573699996, 40.75961945999995),
 142: (142, -73.98155301499993, 40.76768021699989),
 152: (152, -73.9529102909999, 40.8216969469999),
 138: (138, -73.86978081192638, 40.78533793332583),
 143: (143, -73.98151911299976, 40.78028175799991),
 144: (144, -73.99605872699998, 40.7162316399999),
 145: (145, -73.94291412899997, 40.751818828999916),
 146: (146, -73.93739653799992, 40.74891643999991),
 147: (147, -73.89483522899992, 40.826246840999964),
 148: (148, -73.985073423, 40.71908329399989),
 153: (153, -73.90692502800006, 40.87503467099995),
 154: (154, -73.93423157599979, 40.607897714999915),
 155: (155, -73.90396106711259, 40.624833615554124),
 156: (156, -74.17988406361408, 40.64511024036652),
 159: (159, -73.91181615799985, 40.82203502199992),
 157: (157, -73.89691187999993, 40.73508660199993),
 158: (158, -74.00697077799991, 40.741627126999916),
 160: (160, -73.86931025899987, 40.72446599099992),
 161: (161, -73.97580739399986, 40.754677274999935),
 162: (162, -73.97167699199997, 40.75456963099995),
 163: (163, -73.97907658799991, 40.76687608599993),
 164: (164, -73.98407485299994, 40.7433247179999),
 170: (170, -73.97212958899986, 40.74568090199994),
 165: (165, -73.95995565099992, 40.62777867199989),
 166: (166, -73.95626957999987, 40.81337502299987),
 167: (167, -73.89717220999982, 40.83036883299998),
 178: (178, -73.97047171899992, 40.62417002999995),
 168: (168, -73.92399951299991, 40.81543891199993),
 169: (169, -73.89863543699985, 40.85390697499993),
 171: (171, -73.79321182299991, 40.770336488999874),
 172: (172, -74.08691263653212, 40.56898584268364),
 173: (173, -73.85530200199993, 40.7582928419999),
 174: (174, -73.87812594399992, 40.8821538259999),
 175: (175, -73.75583713299987, 40.757742061999934),
 179: (179, -73.93277477867667, 40.777922388777874),
 176: (176, -74.12187183299987, 40.57510756699992),
 177: (177, -73.9023946, 40.67833239799992),
 180: (180, -73.84012856099982, 40.6811466509999),
 181: (181, -73.97633386199989, 40.6652136039999),
 182: (182, -73.85773226199993, 40.83355730699993),
 183: (183, -73.83688925199996, 40.843374787999906),
 184: (184, -73.80693113299986, 40.88592660899994),
 185: (185, -73.83911116499993, 40.85765790099986),
 186: (186, -73.99141858599994, 40.74480268199988),
 189: (189, -73.96102898299978, 40.67224318399995),
 190: (190, -73.96281137499982, 40.66048727899992),
 187: (187, -74.13430281185364, 40.641753794909306),
 188: (188, -73.95720935499996, 40.66351739699992),
 191: (191, -73.72990512499977, 40.72327249499997),
 192: (192, -73.82131898199997, 40.748758182999914),
 193: (193, -73.93577134099989, 40.769050009999866),
 194: (194, -73.91545470966419, 40.79706346603093),
 196: (196, -73.85771592500002, 40.728505460999926),
 195: (195, -74.00549714599993, 40.6858477269999),
 203: (203, -73.72779414890223, 40.67145467623334),
 197: (197, -73.83661882199989, 40.703420017999896),
 198: (198, -73.9069637079999, 40.717304416999866),
 199: (199, -73.88860021869878, 40.798650985918705),
 212: (212, -73.8843985489999, 40.82296557599989),
 213: (213, -73.83696070299992, 40.81634054099991),
 200: (200, -73.89635785999997, 40.9032001319999),
 204: (204, -74.2029103849999, 40.554944665999905),
 201: (201, -73.81829590099994, 40.58735573699989),
 202: (202, -73.9425680614214, 40.76850590573147),
 205: (205, -73.76612489399999, 40.702334485999906),
 206: (206, -74.08212394387884, 40.64827811218603),
 207: (207, -73.90147053099994, 40.759633049999884),
 208: (208, -73.82596550399984, 40.840326137999924),
 209: (209, -74.00490674599992, 40.711972278999966),
 210: (210, -73.92653305100005, 40.59410431499987),
 211: (211, -74.00188406299992, 40.71939757099991),
 214: (214, -74.08406968699997, 40.59549626999994),
 215: (215, -73.77638291300002, 40.7020949279999),
 216: (216, -73.80807342399996, 40.687452823999884),
 217: (217, -73.95401701399999, 40.7070802409999),
 218: (218, -73.76380484799996, 40.67376993299995),
 219: (219, -73.76079559299997, 40.66677326799993),
 225: (225, -73.9172663269999, 40.68330322399991),
 220: (220, -73.89922499099997, 40.88753080299989),
 224: (224, -73.97495992999993, 40.73536871799993),
 226: (226, -73.91015860699994, 40.748501967999914),
 221: (221, -74.07513243599989, 40.63772719999991),
 222: (222, -73.87843582199996, 40.64932734399993),
 223: (223, -73.9025117370087, 40.78947208502824),
 227: (227, -73.99264456099989, 40.64172828999991),
 228: (228, -73.99667191699996, 40.66873916799992),
 229: (229, -73.96219381838414, 40.75450431515319),
 230: (230, -73.98411754799999, 40.754842052999955),
 231: (231, -74.00864380599997, 40.72422131699991),
 239: (239, -73.97217414999986, 40.78648646099994),
 232: (232, -73.97551012699985, 40.71895861299991),
 233: (233, -73.96532415299987, 40.751930897999934),
 234: (234, -73.98990295999991, 40.7344347899999),
 235: (235, -73.90965329599997, 40.86160687999992),
 236: (236, -73.95825534899998, 40.772965336999896),
 237: (237, -73.9665833839999, 40.76155093499988),
 238: (238, -73.96933573299991, 40.78529327999992),
 240: (240, -73.8771197409999, 40.895468663999985),
 241: (241, -73.88758612599987, 40.88425561899989),
 258: (258, -73.84500533199989, 40.68924391099989),
 242: (242, -73.83606934399998, 40.84716484899992),
 245: (245, -74.09767290799995, 40.63896067899987),
 263: (263, -73.95268514999994, 40.772339404999926),
 243: (243, -73.93141437399996, 40.868961927999905),
 244: (244, -73.94068804199995, 40.85131542399991),
 253: (253, -73.83790429599993, 40.764587796999876),
 246: (246, -74.00220082073264, 40.761728432226434),
 247: (247, -73.91240381699996, 40.84181649699989),
 248: (248, -73.86355551599988, 40.83786561999994),
 249: (249, -74.00281726599992, 40.72836312899994),
 257: (257, -73.97984227599983, 40.66072741399996),
 250: (250, -73.84458129199986, 40.838535507999914),
 251: (251, -74.13059499799988, 40.630880282999904),
 252: (252, -73.82040454927233, 40.8006395002925),
 254: (254, -73.85138374099995, 40.878476222999886),
 255: (255, -73.96153679379327, 40.725108918677314),
 256: (256, -73.95680951699988, 40.71275638799993),
 259: (259, -73.85207287919152, 40.90919708288196),
 260: (260, -73.90147053099994, 40.759633049999884),
 261: (261, -74.01326979499997, 40.704553495999974),
 262: (262, -73.9437600529999, 40.782828931999894)}

In [10]:
zonedf=pd.DataFrame(zonedata).T
zonedf

         0          1          2
1      1.0 -74.184489  40.695095
2      2.0 -73.822771  40.635577
3      3.0 -73.847251  40.870987
4      4.0 -73.971791  40.725814
5      5.0 -74.173485  40.562267
..     ...        ...        ...
256  256.0 -73.956810  40.712756
259  259.0 -73.852073  40.909197
260  260.0 -73.901471  40.759633
261  261.0 -74.013270  40.704553
262  262.0 -73.943760  40.782829

[263 rows x 3 columns]

In [11]:
zonedf.rename(columns={0:"locid",1:"lat",2:"lon"},inplace=True)
zonedf

     locid        lat        lon
1      1.0 -74.184489  40.695095
2      2.0 -73.822771  40.635577
3      3.0 -73.847251  40.870987
4      4.0 -73.971791  40.725814
5      5.0 -74.173485  40.562267
..     ...        ...        ...
256  256.0 -73.956810  40.712756
259  259.0 -73.852073  40.909197
260  260.0 -73.901471  40.759633
261  261.0 -74.013270  40.704553
262  262.0 -73.943760  40.782829

[263 rows x 3 columns]

In [12]:
pkjoindata=filterdata.merge(zonedf,left_on="PULocationID",right_on="locid")
pkjoindata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,locid,lat,lon
0,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,...,1.0,0.5,3.46,0.00,0.3,20.76,2.5,231.0,-74.008644,40.724221
1,2,2019-06-22 00:00:16,2019-06-22 00:42:16,1,10.68,1,N,231,39,1,...,0.5,0.5,0.00,6.12,0.3,44.92,0.0,231.0,-74.008644,40.724221
2,1,2019-06-22 00:25:43,2019-06-22 00:38:53,1,2.60,1,N,231,107,2,...,3.0,0.5,0.00,0.00,0.3,14.80,2.5,231.0,-74.008644,40.724221
3,1,2019-06-22 00:46:18,2019-06-22 01:03:02,2,3.90,1,N,231,80,2,...,3.0,0.5,0.00,0.00,0.3,18.80,2.5,231.0,-74.008644,40.724221
4,2,2019-06-22 00:04:09,2019-06-22 00:22:49,2,4.52,1,N,231,112,2,...,0.5,0.5,0.00,0.00,0.3,20.80,2.5,231.0,-74.008644,40.724221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1991518,1,2019-06-30 19:02:10,2019-06-30 19:05:22,1,0.00,5,N,84,84,1,...,0.0,0.0,0.00,0.00,0.3,96.30,0.0,84.0,-74.159883,40.527369
1991519,2,2019-06-27 15:17:20,2019-06-27 15:17:25,0,0.00,5,N,172,172,1,...,0.0,0.5,14.79,0.00,0.3,88.75,0.0,172.0,-74.086913,40.568986
1991520,2,2019-06-27 22:36:46,2019-06-27 23:20:01,1,16.66,1,N,172,113,1,...,0.5,0.5,10.46,0.00,0.3,62.76,2.5,172.0,-74.086913,40.568986
1991521,2,2019-06-27 23:38:32,2019-06-28 00:21:58,5,10.60,1,N,105,43,1,...,0.5,0.5,8.46,0.00,0.3,50.76,2.5,105.0,-74.015404,40.693066
1991522,2,2019-06-30 08:56:56,2019-06-30 09:27:01,2,17.50,1,N,6,129,2,...,0.0,0.5,0.00,12.24,0.3,62.04,0.0,6.0,-74.063506,40.602150

In [13]:
pkjoindata.rename(columns={"lat":"pklat","lon":"pklon"},inplace=True)
pkjoindata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,locid,pklat,pklon
0,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,...,1.0,0.5,3.46,0.00,0.3,20.76,2.5,231.0,-74.008644,40.724221
1,2,2019-06-22 00:00:16,2019-06-22 00:42:16,1,10.68,1,N,231,39,1,...,0.5,0.5,0.00,6.12,0.3,44.92,0.0,231.0,-74.008644,40.724221
2,1,2019-06-22 00:25:43,2019-06-22 00:38:53,1,2.60,1,N,231,107,2,...,3.0,0.5,0.00,0.00,0.3,14.80,2.5,231.0,-74.008644,40.724221
3,1,2019-06-22 00:46:18,2019-06-22 01:03:02,2,3.90,1,N,231,80,2,...,3.0,0.5,0.00,0.00,0.3,18.80,2.5,231.0,-74.008644,40.724221
4,2,2019-06-22 00:04:09,2019-06-22 00:22:49,2,4.52,1,N,231,112,2,...,0.5,0.5,0.00,0.00,0.3,20.80,2.5,231.0,-74.008644,40.724221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1991518,1,2019-06-30 19:02:10,2019-06-30 19:05:22,1,0.00,5,N,84,84,1,...,0.0,0.0,0.00,0.00,0.3,96.30,0.0,84.0,-74.159883,40.527369
1991519,2,2019-06-27 15:17:20,2019-06-27 15:17:25,0,0.00,5,N,172,172,1,...,0.0,0.5,14.79,0.00,0.3,88.75,0.0,172.0,-74.086913,40.568986
1991520,2,2019-06-27 22:36:46,2019-06-27 23:20:01,1,16.66,1,N,172,113,1,...,0.5,0.5,10.46,0.00,0.3,62.76,2.5,172.0,-74.086913,40.568986
1991521,2,2019-06-27 23:38:32,2019-06-28 00:21:58,5,10.60,1,N,105,43,1,...,0.5,0.5,8.46,0.00,0.3,50.76,2.5,105.0,-74.015404,40.693066
1991522,2,2019-06-30 08:56:56,2019-06-30 09:27:01,2,17.50,1,N,6,129,2,...,0.0,0.5,0.00,12.24,0.3,62.04,0.0,6.0,-74.063506,40.602150

In [14]:
dojoindata=pkjoindata.merge(zonedf,left_on="DOLocationID",right_on="locid")
dojoindata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,locid_x,pklat,pklon,locid_y,lat,lon
0,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,...,0.00,0.3,20.76,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
1,2,2019-06-22 00:14:36,2019-06-22 00:36:08,5,3.39,1,N,231,161,2,...,0.00,0.3,19.30,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
2,2,2019-06-22 03:06:17,2019-06-22 03:20:26,2,6.18,1,N,231,161,2,...,0.00,0.3,22.80,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
3,1,2019-06-22 06:48:30,2019-06-22 06:56:51,1,3.70,1,N,231,161,1,...,0.00,0.3,17.75,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
4,2,2019-06-22 07:01:28,2019-06-22 07:11:04,1,3.57,1,N,231,161,1,...,0.00,0.3,19.13,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980866,1,2019-06-25 16:28:29,2019-06-25 16:37:01,1,0.00,1,N,99,84,1,...,18.36,0.3,94.36,0.0,99.0,-74.168954,40.583098,84.0,-74.159883,40.527369
1980867,2,2019-06-30 01:45:46,2019-06-30 01:46:00,1,0.00,1,N,84,84,2,...,0.00,0.3,3.80,0.0,84.0,-74.159883,40.527369,84.0,-74.159883,40.527369
1980868,2,2019-06-30 01:47:32,2019-06-30 01:47:36,4,0.00,5,N,84,84,1,...,0.00,0.3,108.80,0.0,84.0,-74.159883,40.527369,84.0,-74.159883,40.527369
1980869,1,2019-06-30 19:02:10,2019-06-30 19:05:22,1,0.00,5,N,84,84,1,...,0.00,0.3,96.30,0.0,84.0,-74.159883,40.527369,84.0,-74.159883,40.527369
1980870,2,2019-06-28 07:36:58,2019-06-28 08:01:31,1,2.38,1,N,90,2,1,...,0.00,0.3,21.25,2.5,90.0,-73.996840,40.737361,2.0,-73.822771,40.635577

In [15]:
dojoindata.rename(columns={"lat":"dolat","lon":"dolon"},inplace=True)
dojoindata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,locid_x,pklat,pklon,locid_y,dolat,dolon
0,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,...,0.00,0.3,20.76,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
1,2,2019-06-22 00:14:36,2019-06-22 00:36:08,5,3.39,1,N,231,161,2,...,0.00,0.3,19.30,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
2,2,2019-06-22 03:06:17,2019-06-22 03:20:26,2,6.18,1,N,231,161,2,...,0.00,0.3,22.80,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
3,1,2019-06-22 06:48:30,2019-06-22 06:56:51,1,3.70,1,N,231,161,1,...,0.00,0.3,17.75,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
4,2,2019-06-22 07:01:28,2019-06-22 07:11:04,1,3.57,1,N,231,161,1,...,0.00,0.3,19.13,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980866,1,2019-06-25 16:28:29,2019-06-25 16:37:01,1,0.00,1,N,99,84,1,...,18.36,0.3,94.36,0.0,99.0,-74.168954,40.583098,84.0,-74.159883,40.527369
1980867,2,2019-06-30 01:45:46,2019-06-30 01:46:00,1,0.00,1,N,84,84,2,...,0.00,0.3,3.80,0.0,84.0,-74.159883,40.527369,84.0,-74.159883,40.527369
1980868,2,2019-06-30 01:47:32,2019-06-30 01:47:36,4,0.00,5,N,84,84,1,...,0.00,0.3,108.80,0.0,84.0,-74.159883,40.527369,84.0,-74.159883,40.527369
1980869,1,2019-06-30 19:02:10,2019-06-30 19:05:22,1,0.00,5,N,84,84,1,...,0.00,0.3,96.30,0.0,84.0,-74.159883,40.527369,84.0,-74.159883,40.527369
1980870,2,2019-06-28 07:36:58,2019-06-28 08:01:31,1,2.38,1,N,90,2,1,...,0.00,0.3,21.25,2.5,90.0,-73.996840,40.737361,2.0,-73.822771,40.635577

In [16]:
pridedata=dojoindata[(pd.to_datetime(dojoindata["tpep_pickup_datetime"])>"2019-06-30")&(pd.to_datetime(dojoindata["tpep_pickup_datetime"])<"2019-07-01")]

In [17]:
pridedata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,locid_x,pklat,pklon,locid_y,dolat,dolon
707,2,2019-06-30 00:04:51,2019-06-30 23:58:15,1,6.00,1,N,231,161,2,...,0.00,0.3,22.30,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
708,2,2019-06-30 02:42:25,2019-06-30 03:04:07,1,3.53,1,N,231,161,1,...,0.00,0.3,24.96,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
709,2,2019-06-30 03:12:03,2019-06-30 03:26:06,1,3.36,1,N,231,161,1,...,0.00,0.3,20.16,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
710,2,2019-06-30 03:56:13,2019-06-30 04:10:38,1,3.48,1,N,231,161,1,...,0.00,0.3,21.00,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
711,2,2019-06-30 08:49:36,2019-06-30 09:06:54,2,6.78,1,N,231,161,1,...,0.00,0.3,24.80,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980856,1,2019-06-30 18:25:08,2019-06-30 19:29:41,1,35.10,1,N,132,84,1,...,12.24,0.3,127.84,0.0,132.0,-73.824861,40.663577,84.0,-74.159883,40.527369
1980860,1,2019-06-30 00:10:14,2019-06-30 01:13:21,2,29.50,1,N,164,84,1,...,18.36,0.3,126.16,2.5,164.0,-73.984075,40.743325,84.0,-74.159883,40.527369
1980867,2,2019-06-30 01:45:46,2019-06-30 01:46:00,1,0.00,1,N,84,84,2,...,0.00,0.3,3.80,0.0,84.0,-74.159883,40.527369,84.0,-74.159883,40.527369
1980868,2,2019-06-30 01:47:32,2019-06-30 01:47:36,4,0.00,5,N,84,84,1,...,0.00,0.3,108.80,0.0,84.0,-74.159883,40.527369,84.0,-74.159883,40.527369
1980869,1,2019-06-30 19:02:10,2019-06-30 19:05:22,1,0.00,5,N,84,84,1,...,0.00,0.3,96.30,0.0,84.0,-74.159883,40.527369,84.0,-74.159883,40.527369

In [18]:
priorwkdata=dojoindata[(pd.to_datetime(dojoindata["tpep_pickup_datetime"])>"2019-06-23")&(pd.to_datetime(dojoindata["tpep_pickup_datetime"])<"2019-06-24")]
priorwkdata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,locid_x,pklat,pklon,locid_y,dolat,dolon
54,1,2019-06-23 00:57:45,2019-06-23 01:15:02,1,3.70,1,N,231,161,1,...,0.0,0.3,21.95,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
55,2,2019-06-23 01:18:50,2019-06-23 01:29:39,1,3.05,1,N,231,161,1,...,0.0,0.3,17.76,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
56,2,2019-06-23 01:55:38,2019-06-23 02:05:13,2,2.96,1,N,231,161,1,...,0.0,0.3,17.16,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
57,2,2019-06-23 02:00:34,2019-06-23 02:13:55,5,3.89,1,N,231,161,1,...,0.0,0.3,20.16,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
58,1,2019-06-23 03:18:33,2019-06-23 03:29:30,1,2.80,1,N,231,161,1,...,0.0,0.3,17.15,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980803,1,2019-06-23 10:15:57,2019-06-23 10:36:28,1,4.70,1,N,178,111,1,...,0.0,0.3,18.80,0.0,178.0,-73.970472,40.624170,111.0,-73.992964,40.658337
1980808,1,2019-06-23 19:18:43,2019-06-23 19:56:59,1,13.40,1,N,132,154,1,...,0.0,0.3,44.80,0.0,132.0,-73.824861,40.663577,154.0,-73.934232,40.607898
1980824,2,2019-06-23 11:28:53,2019-06-23 12:16:25,1,21.64,1,N,4,154,1,...,0.0,0.3,76.56,2.5,4.0,-73.971791,40.725814,154.0,-73.934232,40.607898
1980828,2,2019-06-23 15:25:38,2019-06-23 15:40:53,1,2.94,1,N,21,154,2,...,0.0,0.3,14.30,0.0,21.0,-73.974031,40.608702,154.0,-73.934232,40.607898
1980831,1,2019-06-23 21:58:55,2019-06-23 22:25:49,1,7.30,1,N,72,154,1,...,0.0,0.3,26.80,0.0,72.0,-73.920082,40.659858,154.0,-73.934232,40.607898

In [27]:
# Create Engine
engine = create_engine("sqlite:///trip.db", pool_pre_ping=True)

In [28]:
pridedata.to_sql('pridedata', con=engine, if_exists='replace')

In [29]:
test=pd.read_sql("SELECT * FROM pridedata",engine)

In [30]:
test

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,locid_x,pklat,pklon,locid_y,dolat,dolon
0,707,2,2019-06-30 00:04:51,2019-06-30 23:58:15,1,6.00,1,N,231,161,...,0.00,0.3,22.30,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
1,708,2,2019-06-30 02:42:25,2019-06-30 03:04:07,1,3.53,1,N,231,161,...,0.00,0.3,24.96,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
2,709,2,2019-06-30 03:12:03,2019-06-30 03:26:06,1,3.36,1,N,231,161,...,0.00,0.3,20.16,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
3,710,2,2019-06-30 03:56:13,2019-06-30 04:10:38,1,3.48,1,N,231,161,...,0.00,0.3,21.00,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
4,711,2,2019-06-30 08:49:36,2019-06-30 09:06:54,2,6.78,1,N,231,161,...,0.00,0.3,24.80,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164226,1980856,1,2019-06-30 18:25:08,2019-06-30 19:29:41,1,35.10,1,N,132,84,...,12.24,0.3,127.84,0.0,132.0,-73.824861,40.663577,84.0,-74.159883,40.527369
164227,1980860,1,2019-06-30 00:10:14,2019-06-30 01:13:21,2,29.50,1,N,164,84,...,18.36,0.3,126.16,2.5,164.0,-73.984075,40.743325,84.0,-74.159883,40.527369
164228,1980867,2,2019-06-30 01:45:46,2019-06-30 01:46:00,1,0.00,1,N,84,84,...,0.00,0.3,3.80,0.0,84.0,-74.159883,40.527369,84.0,-74.159883,40.527369
164229,1980868,2,2019-06-30 01:47:32,2019-06-30 01:47:36,4,0.00,5,N,84,84,...,0.00,0.3,108.80,0.0,84.0,-74.159883,40.527369,84.0,-74.159883,40.527369
164230,1980869,1,2019-06-30 19:02:10,2019-06-30 19:05:22,1,0.00,5,N,84,84,...,0.00,0.3,96.30,0.0,84.0,-74.159883,40.527369,84.0,-74.159883,40.527369

In [31]:
priorwkdata.to_sql('priorwkdata', con=engine, if_exists='replace')

In [25]:
test2=pd.read_sql("SELECT * FROM priorwkdata",engine)

In [26]:
test2

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,locid_x,pklat,pklon,locid_y,dolat,dolon
0,54,1,2019-06-23 00:57:45,2019-06-23 01:15:02,1,3.70,1,N,231,161,...,0.0,0.3,21.95,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
1,55,2,2019-06-23 01:18:50,2019-06-23 01:29:39,1,3.05,1,N,231,161,...,0.0,0.3,17.76,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
2,56,2,2019-06-23 01:55:38,2019-06-23 02:05:13,2,2.96,1,N,231,161,...,0.0,0.3,17.16,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
3,57,2,2019-06-23 02:00:34,2019-06-23 02:13:55,5,3.89,1,N,231,161,...,0.0,0.3,20.16,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
4,58,1,2019-06-23 03:18:33,2019-06-23 03:29:30,1,2.80,1,N,231,161,...,0.0,0.3,17.15,2.5,231.0,-74.008644,40.724221,161.0,-73.975807,40.754677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197102,1980803,1,2019-06-23 10:15:57,2019-06-23 10:36:28,1,4.70,1,N,178,111,...,0.0,0.3,18.80,0.0,178.0,-73.970472,40.624170,111.0,-73.992964,40.658337
197103,1980808,1,2019-06-23 19:18:43,2019-06-23 19:56:59,1,13.40,1,N,132,154,...,0.0,0.3,44.80,0.0,132.0,-73.824861,40.663577,154.0,-73.934232,40.607898
197104,1980824,2,2019-06-23 11:28:53,2019-06-23 12:16:25,1,21.64,1,N,4,154,...,0.0,0.3,76.56,2.5,4.0,-73.971791,40.725814,154.0,-73.934232,40.607898
197105,1980828,2,2019-06-23 15:25:38,2019-06-23 15:40:53,1,2.94,1,N,21,154,...,0.0,0.3,14.30,0.0,21.0,-73.974031,40.608702,154.0,-73.934232,40.607898
197106,1980831,1,2019-06-23 21:58:55,2019-06-23 22:25:49,1,7.30,1,N,72,154,...,0.0,0.3,26.80,0.0,72.0,-73.920082,40.659858,154.0,-73.934232,40.607898